# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env
.pytest_cache/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# AWS
*.pem
.aws/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# Logs
*.log

# OS
.DS_Store
Thumbs.db
